.containter {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(184, 29, 29);
}

.color-picker-container {
    text-align: left;

}

.board-container {
    width: 100%;
    height: 90%;
    margin: auto;
    background: white;
}